.from-container{
   display: grid;
   height: 90vh;
   grid-template-columns: repeat(5, 20%);
   grid-template-rows: repeat(10, 10%);
}
.h1-form{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 0 ;
    grid-row-end: 1;
}
.form-input{
    background: linear-gradient(to right, #3BD1AD, #3EB3C2);
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2 ;
    grid-row-end: 9;
}
.eventNameInput{
  width: 30vw;
  padding: 7px;
  border-radius: 20px;
  border: none;
}
.eventLinkInput{
  width: 30vw;
  padding: 7px;
  border-radius: 20px;
  border: none;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    resize: none;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

.custom-file-input{
  width: 20px;
}
.date{
  padding: 2px;
  border-radius: 20px;
  border: none;
  
}