.postDetails-container{
    min-height: 38rem;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 #00000030;
    background: linear-gradient(to right, #3BD1AD, #3EB3C2);
    padding: 4rem;
}

.postDetails-container-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #fff
}

.infoo{
    word-break: break-all;
    width: 40%;
    font-size: 25px;
  
}

.jaha{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
}
.postDetails-info{
    min-height: 15rem;
}
.postDetailsImg{
    width: 40rem;
    height: 20rem;
    border-radius: 20px;
}

.postDetails-date{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    
}

.postDetails-link > a{
    color: white;
}
